.container {
    max-width: 1200px;
}

.text-reset {
    text-decoration: none;
    font-size: 11px;
}
.text-reset-2 {
    text-decoration: none;
    font-size: 15px;
    color: black;
    list-style-type: none;
}
.text-black {
    color: black;
}
.logo {
    background-color: #fff !important;
}
.navbar-links {
    list-style-type: none;
}
.text-white {
color: #fff;
}
.form-control {
    background-color: #f3f3f3;
    position: relative;
}
.f-16 {
    font-size: 16px;
}
.navbar-links a:hover {
    color: #f27a1a;
    transition: all 0.2s;
}
.search-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 360px;
    bottom: calc(50% - 9px);
    cursor: pointer;
    color: #f27a1a;
}
.my-1 {
    width: 100%;
}
.ms-6 {
    margin-left: 5rem;
}
.category-list {
    list-style-type: none;

}
.input-group .btn {
    background: #f3f3f3;
    color: #f27a1a;
}
.hamburger {
    display: none;
}
.bg-grey {
    background-color: #29293d;
}
.card-div .bg-grey:hover {
    background-color: #f27a1a;
    transition: all 0.3s;
}
.text-align {
    text-align: justify;
}

@media (min-width: 375px) and (max-width: 1175px) { 

.category-list {
    display: none;
}    

.user-login {
    display: none;
}
.input-group {
    display: none;
}
.muted-list {
    display: none;
}
.hamburger {
    display: block;
}
.gradient-links {
    display: none;
}
}